body {
    background-color: #add8e6;
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 80px;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black
}

.nav-right {
    float: right;
}

.navbar-right .logout-button {
    background: none;
    border: none;
    color: white;
    padding: 14px 16px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.navbar-logo {
    height: 30px;
    vertical-align: middle;
    padding: 5px 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 10px
}

.footer .social-media a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.footer .social-media a:hover {
    text-decoration: underline;
}

.navbar-logo {
    height: 40px;
    vertical-align: middle;
    padding: 5px 10px;
    float: left;
}

.navbar > a:first-of-type {
    padding-left: 5px
}